## Home Affairs with support to Sassa

![alt](../img/logo.png)

### Load Packages
___
Lets load packages

In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
citizens = pd.read_csv('../data/citizens_id.txt', names=['ID_NUMBERS'])

In [3]:
citizens.head()

      ID_NUMBERS
0  1801015000086
1  1801015000094
2  1801015001084
3  1801015001092
4  1801015002082

In [4]:
citizens.shape

(299300000, 1)

In [8]:
citizens[citizens.ID_NUMBERS==9202175914087]

              ID_NUMBERS
270571828  9202175914087